@import "./_variables.scss";

@mixin mem-button {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: $light80;
}

@mixin menu-item-box {
  width: 55px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  flex-grow: 0;

  &:hover {
    background-color: $black80;
  }
}
