$phone      : 'only screen and (max-width : 767px)';
$tablet     : 'only screen and (max-width : 1152px)';
$wide       : 'only screen and (min-width : 2200px)';

$green      : rgb(0, 210, 53);
$green70    : rgba(0, 210, 53, 0.7);
$red        : rgb(210,0,30);
$red70      : rgba(210,0,30,0.7);
$red90      : rgb(210,0,30);
$white30    : rgba(255,255,255, 0.3);
$light50    : rgba(250,250,250,0.5);
$light80    : rgba(250,250,250,0.8);
$lightgrey80: rgba(150,150,150,0.8);
$darkgrey80 : rgba(34,34,34,0.8);
$darkgrey90 : rgba(34,34,34,0.9);
$black30    : rgba(0,0,0,0.3);
$black80    : rgba(0,0,0,0.8);
$trans      : rgba(0,0,0,0);

$centerY    : translateY(-50%);
$centerX    : translateX(-50%);

$defPadding : 20px;

$sharpen    : 2px 2px $black80;